body{
background-color: black;
}
#image {
	width: 100%;
	height: 100%;
	background-position: center center;
	background-size: contain;
	object-fit: cover;
	position: absolute;
	top: 0px;
	left: 0px;
	animation: anim;
	animation-duration: 5s;
	animation-fill-mode: forwards;	
}

#network{
	width: 5%;
	text-align: center;
}

video {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

	z-index:-1000;
	
}

@keyframes anim {
    from {}
    50% {transform: none;}
    to {transform: translate3d(0, -100%, 0); }
}




.vignets {
    
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.vignets {
    opacity: 0;
   
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
    animation-fill-mode: forwards;
}
.vignets.load {
    opacity: 1;
}