
		
/*placements logo pop et animation*/

		
				.corps {
					fill: white;
				}

				.fill_log {
					
					fill: #F7931E;
					animation-duration: 5s;
					animation-name: lettercolorslide;
					animation-iteration-count: infinite;
				}
				
				
		
				
/*animation*/

				
				@keyframes lettercolorslide {
					 0%{fill: #CA16FF;}
					 25%{fill: #D9E021;}
					 50%{fill: #00ADA5;}
					 75%{fill: #F7931E;}
					 100%{fill: #CA16FF;}
				}

